.apply-now, .job-location {
    text-align: right;
}
.job-location {
    font-size: 15px;
}
.margin-bottom-5{
    margin-bottom: 0.5rem;
}
.apply-now-button {
    background-color: #216cbb;
    border-color: #216cbb;
}

.company-name {
    color: #216cbb;
}

.card-text {
    font-size: 13px;
}

.job-details {
    font-size: 12px;
}

.job-card-details {
    height: 100%;
    box-shadow: 0 0px 6px 0 rgb(0 0 0 / 19%);
}

.job-title {
    font-size: 16px;
}