.master-page {
    background-color: #fafafb;
    min-height: 100%;
    margin-top: 48px;
}
.master-page-container  {
    margin: 30px
}
.sort-by {
    font-size: 15px;
    background-color: #216cbb;
    padding: 10px;
    border-radius: 25px;
    margin: 10px;
    color: white;
}
.job-list {
    max-height:65vh;
    overflow: scroll;
}